<!-- Footer area starts -->
<footer class="footer-area">
    <div class="container">
        <p>&copy; 2020 Copyright I am 3D</p>
        <ul class="social-links">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
        </ul>
    </div>
</footer>
<!-- Footer area ends -->


<!-- Latest jQuery -->
<script src="/js/jquery.min.js"></script>

<!-- Bootstrap js-->
<script src="/js/bootstrap.min.js"></script>

<!-- Owl Carousel js -->
<script src="/js/owl.carousel.min.js"></script>

<!-- Mixitup js -->
<script src="/js/jquery.mixitup.js"></script>

<!-- typed js -->
<script src="/js/typed.js"></script>

<!-- Magnific popup js -->
<script src="/js/jquery.magnific-popup.min.js"></script>

<!-- Main js-->
<script src="/js/main_script.js"></script>

<script src="https://kit.fontawesome.com/061e61c96e.js" crossorigin="anonymous"></script>
</body>


<!-- Mirrored from coderspoint.net/html/parsnal/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 17 Apr 2020 09:26:20 GMT -->
</html>
