<!DOCTYPE html>
<html lang="en">

<%- include('./partials/header.ejs') %>

<body>

  <!-- Preloader starts-->
  <div id="preloader"></div>
  <!-- Preloader ends -->



  <!-- Navigation area starts -->
  <div class="menu-area navbar-fixed-top">
    <div class="container">
      <div class="row">

        <!-- Navigation starts -->
        <div class="col-md-12">
          <div class="mainmenu">
            <div class="navbar navbar-nobg">
              <div class="navbar-header">
                <a class="navbar-brand" href="index-2.html">I am 3D</a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
              </div>

              <div class="navbar-collapse collapse">
                <nav>
                  <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a class="smooth_scroll" href="#home">HOME</a></li>
                    <li><a class="smooth_scroll" href="#about">ABOUT US</a></li>
                    <li><a class="smooth_scroll" href="#service">OUR SERVICES</a></li>
                    <li><a class="smooth_scroll" href="#testimonial">TESTIMONIAL</a></li>
                    <li><a class="smooth_scroll" href="#contact">CONTACT</a></li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
        <!-- Navigation ends -->

      </div>
    </div>
  </div>
  <!-- Navigation area ends -->



  <!-- Header area starts -->
  <header id="home" class="header-area">
    <div class="table">
      <div class="table-cell">

        <!-- Caption starts -->
        <div class="caption">
          <h1>I am 3D</h1>
          <p> <span class="typed"></span></p>
          <a class="btn" href="#">Hire Me</a>
          <a class="btn btn-white smooth_scroll" href="#contact">Contact Me</a>
        </div>
        <!-- Caption ends -->

      </div><!-- .table-cell -->
    </div><!-- .table -->
  </header>
  <!-- Header area ends -->



  <!-- About area starts -->
  <section id="about" class="about-area section">
    <div class="container">

      <div class="row">
        <div class="col-md-12 text-center">
          <div class="section-title">
            <h2>About Me</h2>
            <p>
              Web_bean has everything you need to get your new website up and running in no time all of the templates and themes.
            </p>
          </div>
        </div>
      </div>


    </div>
  </section>
  <!-- About area ends -->
  <%- include('./partials/footer.ejs') %>


</body>

</html>