<%-include("partials/header.ejs")-%>





<header id="home" class="header-area">
  <div class="table">
    <div class="table-cell">


      <div class="caption">
        <h1>3Dureka</h1>
        <p> <span class="typed"></span></p>
        <a class="btn btn-danger" href="/user/sign-up">User Registration</a>
        <a class="btn btn-danger" href="/printer/sign-up">Printer Registration</a>
      </div>
      <!-- Caption ends -->

    </div><!-- .table-cell -->
  </div><!-- .table -->
</header>
<!-- Header area ends -->



<!-- About area starts -->
<section id="about" class="about-area section">
  <div class="container">

    <div class="row">
      <div class="col-md-12 text-center">
        <div class="section-title">
          <h2>About US</h2>
          <p>
            Web_bean has everything you need to get your new website up and running in no time all of the templates and themes.
          </p>
        </div>
      </div>
    </div>


  </div>
</section>
<!-- About area ends -->

<!-- Service area starts -->
<section id="service" class="service-area section">
  <div class="container">

    <div class="row">
      <div class="col-md-12 text-center">
        <div class="section-titlew">
          <h2>Our SERVICES</h2>
          <p>
            Morbi accumsan ipsum velit sodales tellus odio tincidunt auctor ornare sed mauris vitae erat consequat auctor eu in elit class.
          </p>
        </div>
      </div>
    </div>

    <div class="row">

      <!-- Service Item -->
      <div class="col-md-4 col-sm-6">
        <div class="single-service">
          <i class="fa fa-diamond"></i>
          <h4>High Quality</h4>
          <div class="ser-con">
            <p>Quis nostrud exercitation ullamco laboris nisi ut aliquip commodo consequat. Dolore eu fugiat nulla pariatur.</p>
          </div>
        </div>
      </div>
      <!-- /Service Item -->

      <!-- Service Item -->
      <div class="col-md-4 col-sm-6">
        <div class="single-service">
          <i class="fa fa-coins"></i>
          <h4>Cash On Delivery</h4>
          <div class="ser-con">
            <p>Quis nostrud exercitation ullamco laboris nisi ut aliquip commodo consequat. Dolore eu fugiat nulla pariatur.</p>
          </div>
        </div>
      </div>
      <!-- /Service Item -->

      <!-- Service Item -->
      <div class="col-md-4 col-sm-6">
        <div class="single-service">
          <i class="fa fa-truck"></i>
          <h4>Door Delivery</h4>
          <div class="ser-con">
            <p>Quis nostrud exercitation ullamco laboris nisi ut aliquip commodo consequat. Dolore eu fugiat nulla pariatur.</p>
          </div>
        </div>
      </div>
      <!-- /Service Item -->

      <!-- Service Item -->
      <div class="col-md-4 col-sm-6">
        <div class="single-service">
          <i class="fa fa-diamond"></i>
          <h4>High quality</h4>
          <div class="ser-con">
            <p>Quis nostrud exercitation ullamco laboris nisi ut aliquip commodo consequat. Dolore eu fugiat nulla pariatur.</p>
          </div>
        </div>
      </div>
      <!-- /Service Item -->

      <!-- Service Item -->
      <div class="col-md-4 col-sm-6">
        <div class="single-service">
          <i class="fa fa-eye"></i>
          <h4>XYZ</h4>
          <div class="ser-con">
            <p>Quis nostrud exercitation ullamco laboris nisi ut aliquip commodo consequat. Dolore eu fugiat nulla pariatur.</p>
          </div>
        </div>
      </div>
      <!-- /Service Item -->

      <!-- Service Item -->
      <div class="col-md-4 col-sm-6">
        <div class="single-service">
          <i class="fa fa-headset"></i>
          <h4>24/7 Support</h4>
          <div class="ser-con">
            <p>Quis nostrud exercitation ullamco laboris nisi ut aliquip commodo consequat. Dolore eu fugiat nulla pariatur.</p>
          </div>
        </div>
      </div>
      <!-- /Service Item -->

    </div>

  </div>
</section>
<!-- Service area ends -->

<!-- Work area starts -->
<section id="work" class="works section">
  <div class="container">

    <div class="row">
      <div class="col-md-12 text-center">
        <div class="section-title">
          <h2>MY WORKS</h2>
          <p>
            Morbi accumsan ipsum velit sodales tellus odio tincidunt auctor ornare sed mauris vitae erat consequat auctor eu in elit class.
          </p>
        </div>
      </div>
    </div>

    <div class="row">

      <!-- Works filter -->
      <ul class="work filters">
        <li class="filter" data-filter="all">all</li>
        <li class="filter" data-filter=".ind">Industrial</li>
        <li class="filter" data-filter=".med">Medical</li>
        <li class="filter" data-filter=".so">Socialculture</li>
      </ul>
      <!-- / Works filter -->
    </div>

    <div class="portfolio">
      <div class="row work-items">

        <!-- work item -->
        <div class="col-md-4 col-sm-6 mix ind">
          <div class="item">
            <a href="/img/works/ind1.jpg" class="work-popup">
              <img height="200" width="300" src="/img/works/ind1.jpg" alt="">
              <div class="overlay">
                <i class="fa fa-arrows-alt" aria-hidden="true"></i>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 mix ind">
          <div class="item">
            <a href="/img/works/ind2.jpg" class="work-popup">
              <img height="200" width="300" src="/img/works/ind2.jpg" alt="">
              <div class="overlay">
                <i class="fa fa-arrows-alt" aria-hidden="true"></i>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 mix ind">
          <div class="item">
            <a href="/img/works/ind3.jpg" class="work-popup">
              <img height="200" width="300" src="/img/works/ind3.jpg" alt="">
              <div class="overlay">
                <i class="fa fa-arrows-alt" aria-hidden="true"></i>
              </div>
            </a>
          </div>
        </div>

        <!-- work item -->
        <div class="col-md-4 col-sm-6 mix med">
          <div class="item">
            <a href="/img/works/med1.jpg" class="work-popup">
              <img height="200" width="300" src="/img/works/med1.jpg" alt="">
              <div class="overlay">
                <i class="fa fa-arrows-alt" aria-hidden="true"></i>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 mix med">
          <div class="item">
            <a href="/img/works/med2.png" class="work-popup">
              <img height="200" width="300" src="/img/works/med2.png" alt="">
              <div class="overlay">
                <i class="fa fa-arrows-alt" aria-hidden="true"></i>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 mix med">
          <div class="item">
            <a href="/img/works/med3.jpg" class="work-popup">
              <img height="200" width="300" src="/img/works/med3.jpg" alt="">
              <div class="overlay">
                <i class="fa fa-arrows-alt" aria-hidden="true"></i>
              </div>
            </a>
          </div>
        </div>


        <!-- work item -->
        <div class="col-md-4 col-sm-6 mix  so">
          <div class="item">
            <a href="/img/works/so1.jpg" class="work-popup">
              <img height="200" width="300" src="/img/works/so1.jpg" alt="">
              <div class="overlay">
                <i class="fa fa-arrows-alt" aria-hidden="true"></i>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 mix  so">
          <div class="item">
            <a href="/img/works/so2.jpg" class="work-popup">
              <img height="200" width="300" src="/img/works/so2.jpg" alt="">
              <div class="overlay">
                <i class="fa fa-arrows-alt" aria-hidden="true"></i>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 mix  so">
          <div class="item">
            <a href="/img/works/so3.jpg" class="work-popup">
              <img height="200" width="300" src="/img/works/so3.jpg" alt="">
              <div class="overlay">
                <i class="fa fa-arrows-alt" aria-hidden="true"></i>
              </div>
            </a>
          </div>
        </div>






      </div>
    </div>

  </div>
</section>
<!-- Work area ends -->

<section id="contact" class="contact-area section">
  <div class="container">

    <div class="row">
      <div class="col-md-12 text-center">
        <div class="section-title">
          <h2>GET IN TOUCH</h2>

        </div>
      </div>
    </div>

    <div class="row contact-infos">

      <!-- Contact form starts -->
      <div class="col-sm-6 col-sm-push-6">
        <div class="contact-form">

          <form id="ajax-contact" action="http://coderspoint.net/html/parsnal/assets/mailer.php" method="post">

            <div class="form-group in_name">
              <input type="text" name="name" class="form-control" id="name" placeholder="Write Your Full Name" required="required">
            </div>

            <div class="form-group in_email">
              <input type="email" name="email" class="form-control" id="email" placeholder="Write Your Email" required="required">
            </div>

            <div class="form-group in_message">
              <textarea rows="5" name="message" class="form-control" id="message" placeholder="Write Your Message" required="required"></textarea>
            </div>

            <div class="actions">
              <input type="submit" value="Contact ME" name="submit" id="submitButton" class="btn" title="Submit Your Message!">
            </div>

          </form>

          <!-- Submition status -->
          <div id="form-messages"></div>

        </div>
      </div>
      <!-- Contact form ends-->

      <div class="col-sm-6 col-sm-pull-6">
        <div class="contact-info">
          <i class="fa fa-send"></i>
          <p>
            <br><a href="mailto:info@mydomain.com" title="Click to mail">iam3d@gmail.com</a>
          </p>
        </div>

        <div class="contact-info">
          <i class="fa fa-map-marker"></i>
          <p>Belgaum<br>
            Karnataka,India </p>
        </div>

        <div class="contact-info border-none">
          <i class="fa fa-phone" aria-hidden="true"></i>
          <p>
            <a href="tel:0000" title="Click to Call">+9194491234</a><br>
            <a href="tel:0000" title="Click to Call">0831-24312</a>
          </p>
        </div>
      </div>
    </div>

  </div>
</section>
<!-- Contact area ends -->

<%-include("partials/footer.ejs")-%>