<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Printer's Portal</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css?h=a8d4bee654e7f373adc6e3ffc7b44ff5">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="/css/styles.min.css?h=2cde21d5c8207787afeb66875b7f5c65">

</head>

<body id="page-top">
    <div id="wrapper">
        <nav  class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">

                    <div class="sidebar-brand-text mx-3"><span>I am 3D</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="nav navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/"><i class="fas fa-home"></i><span>Home</span></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/printhistory"><i class="fas fa-history"></i><span>Print History</span></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link " href="/pendingorders"><i class="fas fa-clock"></i><span>Pending orders</span></a></li>
                                </ul>

        </nav>
        <div class="d-flex flex-column justify-content-center" id="content-wrapper">
            <div id="content">
              <br><br><br><br><br>
            <div class="container-fluid">
                <div class="container">
	<div class="row ">
      <div class="col-md-6 col-md-offset-3 ">
        <div class="well well-sm ">
          <form class="form-horizontal" action="" method="post">
          <fieldset>
            <legend class="text-center">Items Procured Form</legend>

            <!-- material input-->
            <div class="form-group">
              <label class="col-md-3 control-label" for="name">Material's</label>
              <div class="col-md-9">
                <input id="name" name="materials" type="text" placeholder="Enter Materials" class="form-control">

              </div>
            </div>

            <!-- quantity input-->
            <div class="form-group">
              <label class="col-md-3 control-label" for="email">Quantity</label>
              <div class="col-md-9">
                <input id="email" name="quantity" type="text" placeholder="Enter the quantity" class="form-control">
              </div>
            </div>


            <!-- Form actions -->
            <div class="form-group">
              <div class="col-md-12 text-right">
                <button type="submit" class="btn btn-danger btn-lg">submit</button>

              </div>
            </div>
          </fieldset>
          </form>
          <form class="form-horizontal" action="" method="post">
          <fieldset>


            <!-- quantity input-->
            <div class="form-group">
              <label class="col-md-3 control-label" for="email">Tracing Details</label>
              <div class="col-md-9">
                <input id="email" name="tracing" type="text" placeholder="Enter tracing details" class="form-control">
              </div>
            </div>


            <!-- Form actions -->
            <div class="form-group">
              <div class="col-md-12 text-right">
                <button type="submit" class="btn btn-danger btn-lg">submit</button>

              </div>
            </div>
          </fieldset>
          </form>
          <button type="submit" class="btn btn-danger btn-block">Start Print</button>
          <button type="submit" class="btn btn-danger btn-block">End Print</button>
        </div>
      </div>
	</div>
</div>

            </div>
        </div>
        <footer class="bg-white sticky-footer">
            <div class="container my-auto">
                <div class="text-center my-auto copyright"><span>Copyright © I am 3D 2020</span></div>
            </div>
        </footer>
    </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a></div>
    <script src="https://kit.fontawesome.com/061e61c96e.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="assets/js/script.min.js?h=cda46db5f8853791105ff4715b7208f3"></script>
</body>

</html>
