<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Sign Up</title>
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css?h=a8d4bee654e7f373adc6e3ffc7b44ff5">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
  <link rel="stylesheet" href="/css/styles.min.css">
</head>

<body class="bg-gradient-primary">
  <div class="container">
    <div class="card shadow-lg o-hidden border-0 my-5">
      <div class="card-body p-0">
        <div class="row">
          <div class="col-lg-5 d-none d-lg-flex">
            <div class="flex-grow-1 bg-register-image" style="background-image: url(&quot;/img/bg/bg.jpg?h=a0a7d00bcd8e4f84f4d8ce636a8f94d4&quot;);"></div>
          </div>
          <div class="col-lg-7">
            <div class="p-5">
              <div class="text-center">
                <h4 class="text-dark mb-4">Create an Account!</h4>
              </div>
              <form class="user" action='/printer/sign-up' method="post">
                <input type="text" name="type" value="printer" hidden>
                <div class="form-group"><input class="form-control form-control-user" type="text" id="inputFirm" placeholder="Name Of Firm" name="name"></div>
                <div class="form-group"><input class="form-control form-control-user" type="text" id="inputLocation" placeholder="Location" name="location"></div>
                <input type="text" id="coordinates" name="coordinates" hidden>
                <div class="form-group"><input class="form-control form-control-user" type="text" id="inputOwner" placeholder="Owner Name" name="owner"></div>
                <div class="form-group"><input class="form-control form-control-user" type="tel" id="inputContact" placeholder="Contact Number" name="contact"></div>
                <div class="form-group"><input class="form-control form-control-user" type="email" id="inputEmail" aria-describedby="emailHelp" placeholder="Email" name="email" required></div>
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0"><input class="form-control form-control-user" type="text" id="inputUsername" placeholder="Username" name="username" required></div>
                  <div class="col-sm-6"><input class="form-control form-control-user" type="password" id="inputPassword" placeholder="Password" name="password"></div>
                </div>
                <div class="form-group">
                  <input type="text" name="typesOfPrinter" id="typesOfPrinter" hidden>
                  <br>
                  <h6 class="text-dark">Types of Printers</h6>
                  <div class="custom-control custom-checkbox"><input class="custom-control-input" type="checkbox" id="formCheck-1" onclick="buildList('SLA')" value="SLA"><label class="custom-control-label" for="formCheck-1">Stereolithography
                      (SLA)</label>
                  </div>
                  <div class="custom-control custom-checkbox"><input class="custom-control-input" type="checkbox" id="formCheck-2" onclick="buildList('FDM')" value="FDM"><label class="custom-control-label" for="formCheck-2">Fused Deposition MOdeling
                      (FDM)</label></div>
                  <div class="custom-control custom-checkbox"><input class="custom-control-input" type="checkbox" id="formCheck-3" onclick="buildList('SLS')" value="SLS"><label class="custom-control-label" for="formCheck-3">Selective Laser Sintering
                      (SLS)</label></div>
                </div>
                <br>
                <button class="btn btn-primary btn-block text-white btn-user">Register Account</button>
                <hr><a class="btn btn-primary btn-block text-white btn-google btn-user" role="button"><i class="fab fa-google"></i>&nbsp; Register with Google</a><a class="btn btn-primary btn-block text-white btn-facebook btn-user" role="button"><i
                    class="fab fa-facebook-f"></i>&nbsp; Register with Facebook</a>
                <hr>
              </form>
              <div class="text-center"><a class="small" href="forgot-password.html">Forgot Password?</a></div>
              <div class="text-center"><a class="small" href="login.html">Already have an account? Login!</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
  <script src="/js/script.min.js?h=cda46db5f8853791105ff4715b7208f3"></script>
  <script src="https://rawgit.com/corejavascript/typeahead.js/master/dist/typeahead.bundle.js"></script>
  <script src="https://rawgit.com/komoot/typeahead-address-photon/master/src/typeahead-address-photon.js"></script>

  <script type="text/javascript">
    function formatResult(predictions) {
      let bbox = [68.1113787, 35.6745457, 97.395561, 6.2325274];
      let name = predictions.properties.name;
      let city = predictions.properties.city || '';
      let state = predictions.properties.state || '';
      let country = predictions.properties.country || '';
      let lon = predictions.geometry.coordinates[0];
      let lat = predictions.geometry.coordinates[1];
      if (lon > bbox[0] && lon < bbox[2] && lat < bbox[1] && lat > bbox[3]) {
        if (city != '')
          return `${name}, ${city}, ${state}, ${country}`;
        else if (state != '')
          return `${name}, ${state}, ${country}`;
        else if (country != '')
          return `${name}, ${country}`;
        return `${name}`;
      }
    }

    var engine = new PhotonAddressEngine({
      url: 'https://photon.komoot.de/',
      formatResult: formatResult
    });

    function setCoordinates(event, selected) {
      console.log(selected.geometry.coordinates);
      $('#coordinates').val(selected.geometry.coordinates);
    }

    $('#inputLocation').typeahead({
      hint: true,
      highlight: true
    }, {
      source: engine.ttAdapter(),
      displayKey: 'description'
    });
    engine.bindDefaultTypeaheadEvent($('#inputLocation'));
    $(engine).bind('addresspicker:selected', setCoordinates);

    let types = []

    function buildList(type) {
      let index = types.indexOf(type);
      if (index == -1)
        types.push(type)
      else
        types.splice(index, 1)
      $('#typesOfPrinter').val(types);
    }
  </script>
</body>

</html>